@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/inter-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/inter-700.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/inter-900.woff2) format(woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background-color: #FEAFC3;
}

.pink {
    background-color: #FEAFC3;
}
/** Blue theme **/

.blue {
    background-color: #69A9FF;
}

/** Yellow theme **/ 

.yellow {
    background-color: #FCC850;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /** Buttons **/

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;   
}

.button.button-search {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-position: 50% 50%;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 50%;
    padding: 8px;
}

.button-filter-and-sorting, .button-enter, .button-cart {
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px; 
}

.button-filter-and-sorting {
    padding: 8px 53px;
    border: 2px solid #FCFCFC;
}

.button-cart {
    font-weight: 400;
}

.slider-button-order, .present-button {
    background-color: #FCFCFC;
    background-clip: padding-box;
    color: #2D3440;
    border-radius: 26px;
    padding: 12px 32px;
    border: 4px solid rgba(252, 252, 252, 0.4);
}

.present-button {
    align-self: start;
}

.subscription-button, .delivery-button, .button-feedback, .button-catalog {
    background-color: #FF2F64;
    color: #FCFCFC;
    border-radius: 26px;
}

.button-catalog {
    background-color: #FF4A78;
    font-weight: 400;
}

.button-filter-and-sorting, .button-enter, .button-cart {
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px; 
}

.button-enter, .button-cart {
    font-weight: 400;
}

.button-pagination-show-more {
    background-color: rgba(252, 252, 252, 0.4);
    border-radius: 26px;
}


/** Header **/

.navigation {
    /** borders for good visability - delete in the end **/
    border: 2px solid black; 
    display: flex;
    width: 1170px;
    margin: 0 auto;
    
}

.navigation-list {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;    
    max-width: 700px; /** 553 in maket**/
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    
}

.navigation-user {
    max-width: 470px; /** 419 in maket**/
    min-width: 419px;
    margin-left: auto;
    justify-content: space-between;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    font-family: inherit;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;    
}

.navigation-link-tel {
    font-weight: 700;
}

/** Main **/

.main-container {
    flex-grow: 1;
    padding-top: 45px; 
    padding-bottom: 48px;
}

.page-container {
    border: 2px solid grey;
    width: 1170px;
    margin: 0 auto;
  }

.page-container > section:not(.popular) {
    margin-bottom: 80px;
}

.page-container > section:last-child {
  margin-bottom: 0;
}
/** Slider **/

/** Photos and descriptions **/


.slider-list {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 470px;
}
.slider-container-current {
    margin: 136px 0 138px 70px;
}

.slider-header {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900; 
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

}

.slider-list-item {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .slider-list-item img {
    background-image: radial-gradient(circle closest-corner at 50% 50%, #FFCBD8 50%, transparent 50%);
    order: 1; 
    padding: 0 20px;
 }

 .slider-text {
    font-size: 18px;
    line-height: 24px;
    max-width: 414px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
}

/** The dots/circles and Social Networks **/

/** Почему пагинация и соц сети потеряли функции кнопок/ссылок? **/
.slider-footer-container {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
}

.slider-pagination {
    border: 2px solid rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 52px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider-pagination-button {
    background-color: #FCFCFC;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.3;
    padding: 6px;
    border: none;
}

.slider-pagination-button-current {
    opacity: 1;
}

.social-list {
    border: 2px solid rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    height: 24px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.social-item:first-child {
    background-image: url(../img/VK.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    
}

.social-item:nth-child(2) {
    background-image: url(../img/Facebook.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.social-item:last-child {
    background-image: url(../img/Instagram.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.social-item-button {
    padding: 12px;
    border: 50%;
}
/** Banners **/

.banners-container {
    display: flex;
    justify-content: space-between;
}

.banners-title, .popular-title, .about-us-title {
    font-family: inherit;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}
.banners-title {
    width: 460px;
}

.present {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 570px;
    box-sizing: border-box;
    background-color: #FF7799;
    border-radius: 16px;
    padding: 40px;
    padding-right: 209px;
}
.present-raspberry {
    background-image: url(../img/background-banner-ruspberry.png);
    background-repeat: no-repeat;
    background-position: 97% 100%;    
}

.present-marshmallow {
    background-image: url(../img/background-banner-marshmellow.png);
    background-repeat: no-repeat;
    background-position: 97% 100%;    
}

.present-title {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.present-text {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

/** Goods **/

.popular {
    margin-bottom: 40px;
}

.popular-title {
    max-width: 527px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 1170px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: #FCFCFC;
    border-radius: 8px;
    padding-bottom: 28px;
    margin-bottom: 40px;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}

.product-card-image {
    padding-left: 51px;
}

.product-card-title, .product-card-price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.product-card-price {
    padding-left: 40px;
}

.product-card-title {
    text-align: center;
    margin-bottom: 8px;
}

.product-card-text {
    text-align: center;  
    color: #565C66;
    padding: 0 40px;
    margin: 0;
    margin-bottom: 20px;
}



/** About us **/

.about-us {
    width: 1170px;
    height: 480px;
    background-image: url("../img/background-wafer.jpg");
    background-color: #FEAFC3;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 24px; 
    box-sizing: border-box;  
}  

.about-us-inner {
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 56px 0;
    box-sizing: border-box;       
}

.about-us-title {
    padding: 0 10px;
}

.about-us-list {
    display: flex;
    justify-content: space-between;
    width: 1042px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    }

.about-us-list-part {
    display: flex;
    flex-direction: column;
    width: 506px;
    padding-right: 40px;
 }

.about-us-item {
    padding-bottom: 40px;
}
.about-us-text {
    color: #565C66;
    max-width: 442px;
    padding-left: 64px;
    margin: 0;
    max-width: 442px;
}

.ice-cream-icon {
    background-image: url(../img/ice-cream-icon.svg);
    background-size: 48px;
    background-repeat: no-repeat;
}

.leaf-icon {
    background-image: url(../img/leaf-icon.svg);
    background-size: 48px;
    background-repeat: no-repeat;
}

.cow-icon {
    background-image: url(../img/cow-icon.svg);
    background-size: 48px;
    background-repeat: no-repeat;
}

.termometer-icon {
    background-image: url(../img/termometer-icon.svg);
    background-size: 48px;
    background-repeat: no-repeat;
}

/** News and subscription **/

.news-and-subscription-container {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.news {
    width: 570px;
    background-image: url(../img/background-news.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}

.news-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #565C66;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.news-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    max-width: 303px;
}

.subscription {
    width: 570px;
    background-image: url(../img/subscription-post-stripes.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 6px;
    box-sizing: border-box;
}

.subscription-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 16px; 
    box-sizing: border-box;
    padding: 26px;
}


.subscription-text, .delivery-text, .delivery-form-text {
    color: #565C66;
    margin: 0;
    padding: 0;
}

/** Delivery **/

.delivery {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    height: 534px;
    background-image: url(../img/background-delivery.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.delivery-container {
    display: flex;
    border: 2px solid yellow;
    flex-direction: column;
    width: 371px;
}

.delivery-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 24px;
}

.delivery-text {
    margin: 0;
}

.delivery-form {
    width: 500px;
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
}

.delivery-form-text {
    margin-bottom: 32px;
}

.date, .phone, .address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

/** Contacts **/

.contacts {
    width: 1170px;
    height: 492px;
    background-image: url(../img/background-contacts.jpg); 
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 64px;
    box-sizing: border-box;  
}

.contacts-inner {
    width: 343px;
    height: 364px;
    background-color: #FCFCFC;
    border-radius: 8px;
    margin-right: 763px;  
    padding: 40px;   
    box-sizing: border-box; 
}  

.contacts-address-title {
    margin: 0;
    margin-bottom: 12px;
}

.contacts-address {
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    color: #565C66;
}

.contacts-address-text, .contacts-phone {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700; 
   color: #2D3440;
   text-decoration: none;
}



.contacts-phone-time {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 32px;
}


/** Footer **/

/** Reglaments list **/

.page-footer {
    border: 2px solid black;
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 48px 14px 57px 0;
    
}
.footer-menu-list {
    display: flex;
    width: 356px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 303px;
    
}

.footer-menu-item {
    padding-left: 20px;
}

.footer-menu-item-part {
    display: flex;
    flex-direction: column;
}

.footer-menu-link {
    text-decoration: none;
    color: #2D3440;
}

.footer-menu-item-favorite {
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-y: center;
    font-weight: 700; 
}

/** Copyright **/

.copyright {
    font-size: 12px;
    line-height: 16px;
    margin-left:auto;
}

/** Catalog **/

/** Breadcrumbs **/

.breadcrumbs {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    width: 250px;

}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440
}

.breadcrumbs-future-link {
    font-weight: 400;
}

.breadcrumbs-item-choosen {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
}

/** Filters and sorting **/

.catalog-filter {
    display: flex;
    width: 807px;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}

.catalog-filter-group {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    border: none;
}

.catalog-filter-title {
    margin: 0;
    margin-bottom: 8px;
}

.catalog-filter-input {
    width: 30px;
}

.catalog-filter-list, .select-control, .container-price {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    padding: 8px 16px;
}

.catalog-filter-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 16px;
}

.catalog-filter-list-fat {
    width: 367px;
}

.catalog-filter-list-toping {
    width: 596px;
}


/** Paganation **/

.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 41px 0;
}

.pagination {
    display: flex;
    width: 194px;
    font-size: 16px;
    line-height: 20px;   
    list-style-type: none;
    padding: 0;
    margin: 0; 
    justify-content: space-between;
    order: 1;
}

.button-pagination-show-more {
    margin: 0 auto;
    padding: 12px 32px;
    border: 4px solid rgba(252, 252, 252, 0.4);
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none; 
    padding: 8px;    
}

.pagination-current {
    background-color: #FCFCFC;
    border-radius: 50%;
}
